.container {
    justify-content: center;
    text-align: center;
}

.painel-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 100%;
    margin-top: 30px;
}

.btn {
    border: 2px solid #000;
    border-radius: 50px;
    padding: 10px;
    width: 180px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn:hover,
.btn-exclusao:hover,
.btn-editar:hover {
    border: 2px solid #000;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    transition: all 0.2s ease
}

.btn_inicio,
.btn_inicio:hover,
.btn_cadastro,
.btn_cadastro:hover {
    background: #8567e6 !important;
}

.btn-busca,
.btn-busca:hover {
    background: #71eb78 !important;
}

.btn-exclusao,
.btn-exclusao:hover {
    color: white;
    background: #384042 !important;
    width: 100px;
}

.btn-editar,
.btn-editar:hover {
    background: #54bf9e !important;
    width: 100px;
}

.dropdown-menu {
    background-color: #8567e6;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 6px;
}


.dropdown-item {
    font-weight: bold;
    text-align: center;
}

.dropdown-item:hover {
    background-color: #71eb78;
}

#botao-consultar {
    background-color: #71eb78;
    width: 280px;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
    font-weight: bold;
    transition: all 0.2s ease
}

#botao-consultar:hover {
    box-shadow: 0px 0px 0px 0px #000;
    transition: all 0.2s ease
}

#agnd-andamento,
#agnd-cancelados,
#agnd-finalizados {
    border: 3px solid #000;
    border-radius: 20px;
    width: 400px;
    height: 80px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease
}

#agnd-andamento,
#agnd-cancelados {
    background: #ad7e51;
    box-shadow: 7px 7px #ad7e51;
}

#agnd-finalizados {
    background: #54bf9e;
    box-shadow: 7px 7px #54bf9e;
}

#agnd-cancelados,
#agnd-finalizados {
    margin-top: 15px;

}

#agnd-andamento:hover,
#agnd-cancelados:hover {
    box-shadow: 0px 0px 0px 0px #ebaa71;
    transition: all 0.2s ease;
}

#agnd-finalizados:hover {
    box-shadow: 0px 0px #54bf9e;
    transition: all 0.2s ease;
}

#agnd-totais {
    background-color: #71eb78;
    border: 3px solid #000;
    border-radius: 20px;
    box-shadow: 7px 7px #000;
    width: 400px;
    height: 80px;
    margin-top: -175px;
    margin-left: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease
}

#agnd-totais:hover {
    box-shadow: 0px 0px 0px 0px #000;
    transition: all 0.2s ease;
}

#usuario {
    background-color: #00c3ff91;
    text-align: center;
    transition: all 0.7s ease;
}

#usuario:hover {
    background-color: #ebaa71;
    transition: all 0.7s ease;
}